#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reverse-polish-calculator {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .row-bottom {
    display: flex;

    .numeric-bottom-buttons {
      flex-direction: column;
    }

    .wider-button {
      button {
        width: 8.5rem;
      }
    }

    .taller-button {
      button {
        height: 8.5rem;
      }
    }
  }

  .stack {
    border: 1px solid rgb(133, 133, 133);
    border-right: hidden;
    border-bottom: hidden;
    text-align: left;
    padding: 0 0.25rem;
    margin-left: 0.5rem;
    flex-direction: column;
    font-size: 1.25rem;
    width: 6rem;
    margin-bottom: 0.55rem;
  }

  .shut-down {
    input {
      pointer-events: none;
      background-color: black;
    }

    button {
      pointer-events: none;
    }

    button.shut-down-button {
      pointer-events: auto;
    }
  }
}